@model lab9.Models.User

@{if(Session["UserName"] != null) {
    ViewBag.Title = "Destination";
    <fieldset>  
        <legend> User Area </legend>  
    <text>  
            Welcome @Session["UserName"].ToString() </text>  
    </fieldset>  
    <br>
        <button onclick="addDestination()">
          Add a destination
        </button>
        <input id="queryInput" type="text" value=""/>
        <button onclick="getDestination()">
          Filter destination
        </button>
        <br>
        <table id="destTable">
        </table>
        <script>
            $('document').ready(function() {
                getDestination();
            });

            function getDestination() {
                var query = $('#queryInput').val();
                $('#destTable').empty();
                $.ajax({
                    url: "Main/GetDestination?query=" + query,
                    success: function(result) {
                        var obj = jQuery.parseJSON(result);
                        $.each(obj, function(key, value) {
                            var id = value['Id'];
                            var city = value['City'];
                            var country = value['Country'];
                            var description = value['Description'];
                            var tourist = value['Tourist'];
                            var cost = value['Cost'];
                            $('#destTable').append('<tr class="row"> <div class="cell"> <td><input class="theInput" type="text" value="' + city + '" readonly></td><td><input class="theInput" type="text" value="' + country + '" readonly></td><td><input class="theInput" type="text" value="' + description + '" readonly></td><td><input class="theInput" type="text" value="' + tourist + '" readonly></td><td><input class="theInput" type="text" value="' + cost + '" readonly></td></div><td class="special"><button type="button" class="update" onclick="updateDestination(' + id + ')">Update</button></td><td class="special"><button type="button" class="delete" onclick="deleteDestination(' + id + ')">Delete</button></td></tr>');
                        });

                    }
                });
             }

        function addDestination() {
                window.location = "Add";
        }

        function deleteDestination(id) {
                window.location = "Main/Delete?id=" + id;
        }

        function updateDestination(id) {
                window.location = "Update?id=" + id;
        }
</script>
        <br>
        <a href="?logout=out">LogOut</a>

} else{
    ViewBag.Title = "Index";
    using (Html.BeginForm("Index", "Main", FormMethod.Post))  
    {  
        <fieldset>  
        <legend>Login</legend>  
          
        @Html.AntiForgeryToken()  
        @Html.ValidationSummary(true)  
        @if (@ViewBag.Message != null)  
        {  
        <div style="border: 1px solid red">  
        @ViewBag.Message  
        </div>  
        }  
        <table>  
        <tr>  
        <td>@Html.LabelFor(a => a.Email)</td>
        <td>@Html.TextBoxFor(a => a.Email)</td>  
        <td>@Html.ValidationMessageFor(a => a.Email)</td>  
        </tr>  
        <tr>  
        <td><label for="pass">Password</label></td>
        <td><input id="pass" type="password" name="password" /></td>    
        </tr>  
        <tr>  
        <td></td>  
        <td>  
        <input name="submit" type="submit" value="Login" />  
		<input name="submit" type="submit" value="Register" />
         </td>
        <td></td>  
        </tr>  
        </table>  
        </fieldset> 
        if(Session["Error"] != null)
          {
            <text>Error: @Session["Error"].ToString()</text>
            Session["Error"] = null;
          }
    }  
    }
}